/* ==========================================================================
   Master SCSS
   ========================================================================== */

/* Settings

   Global variables, config switches.
   ========================================================================== */
@import 'settings/settings';

/* Tools

   Default mixins and functions
   ========================================================================== */
@import 'tools/mixins';

/* Generic

   Ground-zero styles [Normalize, resets, box-sizing]
   ========================================================================== */
@import 'generic/reset';

/* Base

   Unclassed HTML elements [type selectors]
   ========================================================================== */
@import 'base/base';

/* Objects

   Cosmetic-free design patterns.
   ========================================================================== */
@import 'objects/grid';

/* Components

   Designed components, chunks of UI
   ========================================================================== */
@import 'components/animations';
@import 'components/header';
@import 'components/buttons';
@import 'components/headings';
@import 'components/forms';
@import 'components/brand';
@import 'components/icons';
@import 'components/scroll-hint';
@import 'components/backgrounds';
@import 'components/steps';
@import 'components/earth';
@import 'components/plant';
@import 'components/rain';
@import 'components/bees';
@import 'components/honeycomb';
@import 'components/service-group';
@import 'components/overlays';
@import 'components/user-instruction';

/* Trumps

   Helpers & overrides
   ========================================================================== */
@import 'trumps/helpers';
@import 'trumps/trumps';