/* ==========================================================================
   _backgrounds.scss

   Major backgrounds of the site (clouds/sky etc.)
   ========================================================================== */

.background--full {
  height: 100%;
  width: 100%;
}

.background--sky {
  background-image: url(../assets/img/sky-background.jpg);
  background-position: 50% 100%;
  background-size: cover;
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.2;
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity: 0.2; // match fade in 100%
  }

  100% {
    opacity: 0;
  }
}

.background--cloudy {
  display: block;
  position: absolute;
  background-image: url(../assets/img/sky-dark-background.png);
  background-size: cover;
  opacity: 0; // overwritten by ani
}
.step-3-active .background--cloudy {
  @include animation(fadeIn $gtd * 4 ease forwards);
}
.step-4-active .background--cloudy {
  @include animation(fadeOut $gtd * 4 ease forwards);
}