/* ==========================================================================
   _bees.scss

   BEES(?!) SVGs.
   ========================================================================== */

.bee {
  //visibility: hidden; // set to hidden until we need it
  position: absolute;
  z-index: 3;
  transform-origin: center;

  .step-5-active & {
    visibility: visible; // now we need it
  }
}

.bee--one {
  height: 10%;
  bottom: -10%; // position just under the window
  left: 25%; // position 1/4 from left of window
}
.bee--two {
  height: 8%;
  bottom: 25%; // position 1/4 way up page
  left: -100px; // position just off left of window
  transform: rotate(95deg);
}
.bee--three {
  height: 6%;
  bottom: 25%; // position 1/4 way up page
  left: -100px; // position just off left of window
  transform: rotate(95deg);
}

.bee__wing {
  transform-origin: top;
}

/**
 * SVG styles exported
 * from Illustrator
 */
.bee {
  .st6{
    opacity: .75;
  }
  .st7,
  .st8 {
    fill: #e1eefb;
  }
  .st8 {
    opacity: .75;
  }
}

/* Animations
   ========================================================================== */

@include keyframes(flutterLeftWing) {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}

@include keyframes(flutterRightWing) {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

.bee__wing--left {
  @include animation(flutterLeftWing .25s infinite linear);
}
.bee__wing--right {
  @include animation(flutterRightWing .25s infinite linear);
}

/* Step 5
   ========================================================================== */

@include keyframes(beeOneStepFive) {
  0% {
    transform: translate(0) rotate(0);
  }

  100% {
    transform: rotate(40deg);
    left: 67%;
    bottom: 15%;
  }
}

@include keyframes(beeTwoStepFive) {
  0% {
    transform: translate(0) rotate(95deg);
  }

  100% {
    transform: translateY(140%) rotate(60deg);
    left: 60%;
  }
}

@include keyframes(beeThreeStepFive) {
  0% {
    transform: translate(0) rotate(95deg);
  }

  100% {
    transform: translate(0%, 0%) rotate(95deg);
    left: 62%;
  }
}

/* Step 6
   ========================================================================== */

@include keyframes(beeOneStepSix) {
  0% {
    // styles need to match step-5 .bee--one 
    // final animation state to be seamless
    transform: translate(0, 0) rotate(40deg);
    left: 67%;
    bottom: 15%;
  }

  100% {
    transform: translateX(-50%) rotate(0deg);
    left: 50%;
    height: 20%;
    bottom: 72%;
  }
}

@include keyframes(beeTwoStepSix) {
  0% {
    // styles need to match step-5 .bee--two 
    // final animation state to be seamless
    transform: translateY(140%) rotate(60deg);
    left: 60%;
  }

  100% {
    transform: translate(-380%, 90%) rotate(65deg);
    left: 205%;
    bottom: 45%;
  }
}

@include keyframes(beeThreeStepSix) {
  0% {
    // initial styles need to match step-5 .bee--three 
    // final animation state to be seamless
    transform: translate(0%, 0%) rotate(95deg);
    left: 62%;
  }

  100% {
    transform: translate(-310%, 50%) rotate(95deg);
    left: 205%;
    bottom: 23%;
  }
}

/* Step 7
   ========================================================================== */

@include keyframes(beeOneStepSeven) {
  0% {
    // styles need to match step-6 .bee--one 
    // final animation state to be seamless
    transform: translateX(-50%) rotate(0deg);
    left: 50%;
    height: 20%;
    bottom: 72%;
  }

  100% {
    transform: translateX(-50%) rotate(0deg);
    left: 50%;
    height: 20%;
    bottom: 10%;
  }
}

/* Step 8
   ========================================================================== */

@include keyframes(beeOneStepEight) {
  0% {
    // styles need to match step-7 .bee--one 
    // final animation state to be seamless
    transform: translateX(-50%) rotate(0deg);
    left: 50%;
    height: 20%;
    bottom: 10%;
  }

  100% {
    transform: translateX(-50%) rotate(0deg);
    left: 50%;
    height: 20%;
    bottom: 15%;
  }
}

/* Step 9
   ========================================================================== */

@include keyframes(beeOneStepNine) {
  0% {
    // styles need to match step-8 .bee--one 
    // final animation state to be seamless
    transform: translate(-50%, -170%) rotate(0deg);
    left: 50%;
    height: 20%;
  }

  20% {
    transform: translate(-50%, -190%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, 50%) rotate(0deg);
    left: 50%;
    height: 20%;
  }
}

/* Step Activation
   ========================================================================== */

/* Step 5
   ========================================================================== */

.step-4-active .bee--one {
  @include animation(beeOneStepFive $gtd * 5 forwards);
}
.step-4-active .bee--two {
  @include animation(beeTwoStepFive $gtd * 5 forwards);
}
.step-4-active .bee--three {
  @include animation(beeThreeStepFive $gtd * 5 forwards);
}
.step-4-active .bee {
  animation-delay: $gtd; // match animation on .plant .step-5-active
}

/* Step 6
   ========================================================================== */

.step-5-active .bee--one {
  @include animation(beeOneStepSix $gtd * 5 forwards);
}
.step-5-active .bee--two {
  @include animation(beeTwoStepSix $gtd * 5 forwards);
}
.step-5-active .bee--three {
  @include animation(beeThreeStepSix $gtd * 5 forwards);
}

/* Step 7
   ========================================================================== */

.step-6-active .bee--one {
  @include animation(beeOneStepSeven $gtd * 2 ease forwards);
}


/* Step 8
   ========================================================================== */

.step-7-active .bee--one {
  @include animation(beeOneStepEight $gtd * 2 ease forwards);
}

/* Step 9
   ========================================================================== */

.step-8-active .bee--one {
  @include animation(beeOneStepNine $gtd * 2 ease forwards);
}