/* ==========================================================================
   _earth.scss

   Earth layers. They look like dirt.
   ========================================================================== */

.earth__container {
  display: block;
  position: absolute;
  bottom: 0;
  height: 20vh;
  transition: height $gtd ease;
}

.earth__layer {
  display: block;
  transition: height $gtd ease;
}

.earth__layer--one {
  background-color: #754c24;
  height: 25%;
}

.earth__layer--two {
  background-color: #603913;
  height: 75%;
}

.earth__seed {
  height: 25px;
  position: absolute;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  fill: #24180e;
  opacity: 0; // overwritten by ani
}

/* Animations
   ========================================================================== */

@include keyframes(seedStepTwo) {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}


/* Step activations
   ========================================================================== */

.step-3-active .earth__container,
.step-4-active .earth__container {
  height: 5vh;
}
.step-3-active .earth__layer--two,
.step-4-active .earth__layer--two,
.step-5-active .earth__layer--two {
  height: 0;
}
.step-3-active .earth__layer--one,
.step-4-active .earth__layer--one,
.step-5-active .earth__layer--one {
  height: 100%;
}

.step-5-active .earth__container,
.step-6-active .earth__container,
.step-7-active .earth__container,
.step-8-active .earth__container,
.step-9-active .earth__container {
  height: 0;
}

.step-2-active .earth__seed {
  @include animation(seedStepTwo $gtd $gtd forwards ease);
}