/* ==========================================================================
   _forms.scss
   ========================================================================== */

.form__container {
  max-width: 600px;
  padding: 1.5em 2.5em;
  border: 5px solid $orange-color;
  background: $yellow-color;
  color: #000000;

  @include respond-to(small) {
    margin: 0 auto;
    padding: 1.5em 1.5em;
  }
}

.form__input--text {
  width: 100%;
  padding: 0.75em 1em;
  margin-bottom: 1em;
  border: 2px solid;
  border-radius: $border-radius;
  background: $yellow-color;
  background: none;
  box-sizing: border-box;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #000000;
  opacity: 0.75;
}

.form__input--submit {
  float: right;

  @include respond-to(small) {
    width: 100%;
  }
}

.form__back {
  padding-left: 1em;
  border: none;
  float: left;

  @include respond-to(small) {
    width: 100%;
    padding-left: inherit;
  }
}

.form__message-container {
  width: 100%;
}

/**
 * Hide form and show user a message 
 * when form has been submitted
 */
.form__message {
  display: none; // hide until success
  opacity: 0; // hide until success
  margin-bottom: 0;
  color: black;
  transition: opacity $gtd / 2 ease;
}

.form__message:nth-of-type(2), 
.form__message:nth-of-type(3) {
  font-size: 1.1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}


.form--submitted {
  .form {
    display: none;
  }

  .form__message--success {
    display: block;
    @include animation(fadeInUp $gtd / 2 forwards ease);
  }

  .form__message:nth-of-type(2), 
  .form__message:nth-of-type(3) {
    display: inline-block;
    @include animation(fadeInUp $gtd / 2 forwards ease);

    .cssanimations & {
      opacity: 0; // set opacity as 0, only on browsers which can animate
    }
  }

  .form__message:nth-of-type(2) {
    animation-delay: $gtd / 2;
  }

  .form__message:nth-of-type(3) {
    animation-delay: $gtd;
  }
}

/* Variations
   ========================================================================== */
.form--share-url__container {
  height: 320px; // define a height on larger screen sizes so it stays consistent when content changes
  box-sizing: border-box;

  @include respond-to(small) {
    height: 250px;
  }
}

.form--share-url .form__input {
  @include animation(fadeInDown $gtd / 2 forwards ease); // fade in when user elects to send again

  // Make them invisible on browsers which can do animation
  .cssanimations & {
    opacity: 0;
  }

  &:nth-child(2) {
    animation-delay: $gtd / 3;
  }

  &:nth-child(4) {
    animation-delay: $gtd / 3 * 2;
  }

  &:nth-child(5) {
    animation-delay: $gtd;
  }
}