/* ==========================================================================
   _honeycomb.scss
   ========================================================================== */

.honeycomb {
  transform: translateY(-100%); // position off screen until we need it
  transition: transform $gtd * 2 ease;
  z-index: 4;
  position: relative;
}

/**
 * Hide text + icon in honeycomb 
 * until we need it
 */
.honeycomb__key-panel__text,
.honeycomb__key-panel__icon {
  visibility: hidden;
}

/**
 * SVG styles exported
 * from Illustrator which
 * there is no need to change
 */
.honeycomb {
  .st0 {
    fill: #FFB312;
    stroke: #FFA300;
    stroke-width: 11;
    stroke-miterlimit: 10;
  }

  .st1 {
    font-family: 'Apex', 'Helvetica', 'Arial', sans-serif;
  }

  .st2 {
    font-size:20px;
  }
}

.honeycomb__key-panel--large {
  visibility: hidden;
  height: 600px;
  width: 530px;
  color: black;
  background-image: url(../assets/img/hex-single.svg);
  background-size: 100% 100%;
  z-index: 3;
}

.honeycomb__key-panel--large__wrapper {
  height: 100%;
  display: block;
}

.honeycomb__key-panel--large__close {
  width: 35px;
  display: block;
  margin: 1em auto 0;
  text-align: center;
  cursor: pointer;
}

.step-8-active .honeycomb__key-panel {
  cursor: pointer;

  &:hover {
    polygon { 
      fill: #FFA300;
    }

    .honeycomb__key-panel__text,
    .honeycomb__key-panel__icon {
      fill: white;
    }
  }
}

.honeycomb-key-panels--active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

/* Step activations
   ========================================================================== */

/* Step 7
   ========================================================================== */

.step-7-active .honeycomb {
  transform: translateY(-75%);
}

/* Step 8
   ========================================================================== */

.step-8-active .honeycomb {
  transform: translateY(-55%);
}

.step-8-active .honeycomb__key-panel__text,
.step-8-active .honeycomb__key-panel__icon {
  visibility: visible;
}

/* Step 9
   ========================================================================== */

.step-9-active .honeycomb {
  transform: translateY(27.5%);
  transition: transform $gtd * 4 ease;
}