/* ==========================================================================
   _icons.scss
   ========================================================================== */
.icon {
  background-size: 100% 100%;
  height: 36px;
  width: 36px;
}

.icon--key-up {
  background-image: url(../assets/img/arrow_up.svg);
}

.icon--key-down {
  background-image: url(../assets/img/arrow_down.svg);
}

.icon--key-right {
  background-image: url(../assets/img/arrow_right-blue.svg);
}

.icon--key-left {
  background-image: url(../assets/img/arrow_left-blue.svg);
}