/* ==========================================================================
   _overlays.scss
   ========================================================================== */
.overlay {
  position: relative;
  z-index: 100;
}

.overlay--hidden {
  visibility: hidden;
  opacity: 0;
}