/* ==========================================================================
   _plant.scss

   Plant is an SVG.
   Animations for plant also contained in here.
   ========================================================================== */

.plant {
  height: 150px;
  width: auto;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: scale(0) translateX(-50%); // any plant animations must now include these transforms 
  transform-origin: bottom;
  transition: all $gtd * 2 ease;
  z-index: 2;
}

.plant__stem {
  transform: scale(0); // start at scale(0) to hide
  transform-origin: bottom;
}

.plant__leaf {
  transform: scale(0); // start at scale(0) to hide
  transform-origin: center;
}

.plant__flower {
  transform: scale(0); // start at scale(0) to hide
  transform-origin: center;
}

.plant__leaf--top {
  transform-origin: bottom;
  -moz-transform-origin: center !important; // hack for firefox
}
.plant__leaf--left {
  transform-origin: right bottom;
  -moz-transform-origin: center !important; // hack for firefox
}
.plant__leaf--right {
  transform-origin: left bottom;
  -moz-transform-origin: center !important; // hack for firefox
}

.plant__leaf__segment:nth-of-type(1),
.plant__stem__segment:nth-of-type(1) { 
  fill: #59b790;
}

.plant__stem,
.plant__leaf__segment:nth-of-type(2),
.plant__stem__segment:nth-of-type(2) { 
  fill: #499778;
}

.plant__flower__segment:nth-of-type(1) {
  fill: #eb6870;
}
.plant__flower__segment:nth-of-type(2) {
  fill: #c1565d;
}
.plant__flower__middle {
  fill: #d4d64d;
}

/* Animations
   ========================================================================== */

/* Step 3
   ========================================================================== */

@include keyframes(plantStemSprout) {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@include keyframes(plantLeafSprout) {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(0.55);
  }

  100% {
    transform: scale(0.5);
  }
}

/* Step 4
   ========================================================================== */

@include keyframes(plantGrow) {
  0% {
    height: 150px;
  }

  100% {
    height: 250px;
  }
}

@include keyframes(plantLeafGrow) {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@include keyframes(plantFlowerGrow) {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Step 5
   ========================================================================== */

@include keyframes(plantGrowTallest) {
  0% {
    // should match attributes of .plant in step-4
    height: 250px;
    bottom: 4vh;
    left: 50%;
  }

  100% {
    height: 50%; // make taller
    bottom: -15vh; // bring plant down
    left: 75%; // push to right
  }
}

/* Step 6
   ========================================================================== */

@include keyframes(plantSlideToBottom) {
  0% {
    // match final ani state from animation in .step-5
    height: 50%;
    bottom: -15vh;
    left: 75%;
  }

  100% {
    height: 50%;
    bottom: -45vh;
    left: 50%;
  }
}

/* Step activations
   ========================================================================== */

/* Step 3
   ========================================================================== */

.step-3-active .plant__stem {
  @include animation(plantStemSprout $gtd * 2 $gtd ease-out forwards);
}

.step-3-active .plant__leaf {
  @include animation(plantLeafSprout $gtd $gtd ease forwards);
}

/**
 * Delay leaf animation
 * on each leaf individually
 */
@for $i from 1 through 5 {
  .step-3-active .plant__leaf:nth-of-type(#{$i}) {
    animation-delay: $gtd + (($gtd * 2) / 4 * $i);
  }
}

/* Step 4
   ========================================================================== */

.step-4-active .plant {
  @include animation(plantGrow $gtd * 2 ease forwards);
}

.step-4-active .plant__leaf {
  @include animation(plantLeafGrow $gtd * 2 ease forwards);
}

/**
 * Delay leaf animation
 * on each leaf individually
 */
@for $i from 1 through 5 {
  .step-4-active .plant__leaf:nth-of-type(#{$i}) {
    transform: scale(0.5);
    animation-delay: ($gtd * 2) / 4 * $i;
  }
}

.step-4-active .plant__flower {
  @include animation(plantFlowerGrow $gtd * 2 ease forwards);
}
/**
 * Delay flower animation
 * on each flower individually
 */
@for $i from 7 through 8 {
  .step-4-active .plant__flower:nth-of-type(#{$i}) {
    animation-delay: ($gtd * 2) / 4 * ($i - 2);
  }
}

/* Step 5
   ========================================================================== */

.step-5-active .plant__stem,
.step-5-active .plant__flower,
.step-5-active .plant__leaf {
  transform: scale(1);
}
.step-5-active .plant {
  @include animation(plantGrowTallest $gtd * 2 forwards ease); // make taller
}

/* Step 6
   ========================================================================== */
.step-6-active .plant__stem,
.step-6-active .plant__flower,
.step-6-active .plant__leaf {
  transform: scale(1);
}
.step-6-active .plant {
  @include animation(plantSlideToBottom $gtd * 2 forwards ease);
}