/* ==========================================================================
   _plant.scss

   Plant is an SVG.
   Animations for plant also contained in here.
   ========================================================================== */

.plant {
  height: 250px;
  width: auto;
  position: absolute;
  bottom: 4vh;
  left: calc(50% - 75px);
  transform: scale(0);
  transform-origin: bottom;
  z-index: 2;
}

.plant__stem {
  transform-origin: bottom;
}

.plant__leaf {
  transform: scale(0);
  transform-origin: center;
}

.plant__flower {
  transform: scale(0);
  transform-origin: center;
}

.plant__leaf--top {
  transform-origin: bottom;
  -moz-transform-origin: center !important; // hack for firefox
}
.plant__leaf--left {
  transform-origin: right bottom;
  -moz-transform-origin: center !important; // hack for firefox
}
.plant__leaf--right {
  transform-origin: left bottom;
  -moz-transform-origin: center !important; // hack for firefox
}

.plant__leaf__segment:nth-of-type(1),
.plant__stem__segment:nth-of-type(1) { 
  fill: #59b790;
}

.plant__stem,
.plant__leaf__segment:nth-of-type(2),
.plant__stem__segment:nth-of-type(2) { 
  fill: #499778;
}

.plant__flower__segment:nth-of-type(1) {
  fill: #eb6870;
}
.plant__flower__segment:nth-of-type(2) {
  fill: #c1565d;
}
.plant__flower__middle {
  fill: #d4d64d;
}

/* Animations
   ========================================================================== */

/* Plant (no flowers)
   ========================================================================== */

/* Step 3
   ========================================================================== */

@include keyframes(plantSprout) {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(0.5);
  }
}

@include keyframes(plantLeafSprout) {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(0.55);
  }

  100% {
    transform: scale(0.5);
  }
}

.step-3-active .plant {
  @include animation(plantSprout $gtd * 2 ease-out forwards);
}

.step-3-active .plant__leaf {
  @include animation(plantLeafSprout $gtd ease forwards);
}

/**
 * Delay leaf animation
 * on each leaf individually
 */
@for $i from 1 through 5 {
  .step-3-active .plant__leaf:nth-of-type(#{$i}) {
    animation-delay: ($gtd * 2) / 4 * $i;
  }
}

/* Step 4
   ========================================================================== */

@include keyframes(plantGrow) {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@include keyframes(plantLeafGrow) {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@include keyframes(plantFlowerGrow) {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.step-4-active .plant {
  @include animation(plantGrow $gtd * 2 ease forwards);
}

.step-4-active .plant__leaf {
  @include animation(plantLeafGrow $gtd * 2 ease forwards);
}

/**
 * Delay leaf animation
 * on each leaf individually
 */
@for $i from 1 through 5 {
  .step-4-active .plant__leaf:nth-of-type(#{$i}) {
    transform: scale(0.5);
    animation-delay: ($gtd * 2) / 4 * $i;
  }
}

.step-4-active .plant__flower {
  @include animation(plantFlowerGrow $gtd * 2 ease forwards);
}
/**
 * Delay flower animation
 * on each flower individually
 */
@for $i from 7 through 8 {
  .step-4-active .plant__flower:nth-of-type(#{$i}) {
    animation-delay: ($gtd * 2) / 4 * ($i - 2);
  }
}