/* ==========================================================================
   _rain.scss

   Rain SVG and it's manipulations
   ========================================================================== */

.rain {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-image: url(../assets/img/rain.svg);
  background-size: contain;
  z-index: 0;
  opacity: 0; // overwritten by ani

  &:after {
    content: '';
    width: 100%;
    height: 7vh;
    display: block;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, #754c24);
  }
}

@include keyframes(makeItRain) {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: 230%;
  }
}

/* Step activations
   ========================================================================== */

.step-4-active .rain {
  opacity: 0.5;
  transition: opacity $gtd * 4 ease;
  @include animation(makeItRain 30s infinite linear forwards);
}