/* ==========================================================================
   _sky-background.scss

   The sky background.
   ========================================================================== */

.sky-background {
  background-image: url(../assets/img/sky-background.jpg);
  background-position: 50% 100%;
  background-size: cover;
}