/* ==========================================================================
   _steps.scss

   Hide/show sections dependent on main-container (parent) class
   ========================================================================== */

// State no. of sections in DOM
$sectionCount: 8;

.section {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.section-copy__wrapper {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
}

/* Copy
   ========================================================================== */

.section__copy {
  opacity: 0; // overwritten when step is active
  transition: opacity $gtd ease;
}

/* Progression through states
   ========================================================================== */

@for $i from 2 through $sectionCount {
  .step-#{$i}-active #section-#{$i} {
    z-index: 2;

    .section__copy {
      opacity: 1;
    }
  }
}

.step-1-active #section-1 {
  z-index: 2;

  .section__copy {
    @include animation(fadeInUp $gtd $gtd / 2 ease forwards);

    &.btn {
      animation-delay: $gtd * 3;
    }
  }
}