/* ==========================================================================
   _steps.scss

   Hide/show sections dependent on main-container (parent) class
   ========================================================================== */

// State no. of sections in DOM
$sectionCount: 9;

.section {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.section-copy__wrapper {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
}

/* Copy
   ========================================================================== */

.section__copy {
  opacity: 0;
  transition: opacity $gtd ease;
}


/* Progression through states
   ========================================================================== */

@for $i from 1 through $sectionCount {
  .step-#{$i}-active #section-#{$i} {
    z-index: 2;

    .section__copy {
      opacity: 1;
    }
  }
}