/* ==========================================================================
   _user-instruction.scss

   Helpers which appear on the screen to aid users to use the app.
   ========================================================================== */

.user-instruction {
  font-size: 0.85em;
}

.user-instruction--header {
  position: relative;
  padding-top: 35px; // match logo
  visibility: hidden;
  z-index: 3; // keep above active section
}

.user-instruction__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  fill: $sky-blue-color;
}

.user-instruction__container {
  display: inline-block;
  padding: 1em 2em 0.85em;
  background: #FFFFFF;
  color: $sky-blue-color;
}

.user-instruction__copy:first-of-type {
  margin: 0;
}

/* Animations
   ========================================================================== */
@include keyframes(showInstruction) {
  0% {
    opacity: 0;
    transform: translateY(10px);
    visibility: visible;
  }

  75% {
    transform: translateY(-2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@include keyframes(showInstructionBriefly) {
  0%,
  100% {
    opacity: 0;
    transform: translateY(10px);
    visibility: visible;
  }

  10%, 
  90% {
    transform: translateY(-2px);
  }

  15%,
  85% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.ani--show-user-instruction {
  @include animation(showInstructionBriefly $gtd * 4 forwards ease-out);
}

.step-2-active .user-instruction__container {
  // So we see instruction briefly on step-2
  @include animation(showInstructionBriefly $gtd * 4 2s backwards ease-out);
}