/* ==========================================================================
   _settings.scss

   Global vars and config
   ========================================================================== */

$main-text-color: #FFFFFF;
$sky-blue-color: #79C2EB;
$yellow-color: #fdb230;
$orange-color: #fda228;

$border-radius: 5px;

$gtd: 1.25s; // global transition duration

$breakpoints: (
  'small': ( max-width: 767px )
);

$total-steps: 8;


/* Fonts
   ========================================================================== */

@font-face {
  font-family: 'Apex';
  src: url(../assets/fonts/ApexRounded-Book.eot?) format('eot'), url(../assets/fonts/ApexRounded-Book.woff) format('woff'), url(../assets/fonts/ApexRounded-Book.ttf) format('truetype');
}