/* ==========================================================================
   _helpers.scss

   Helper classes
   ========================================================================== */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
 * Generate some z-index 
 * oo-classes
 */
@for $i from 1 to 10 {
  .zi--#{$i} {
    z-index: $i;
  }
}

.of-visible {
  overflow: visible !important;
}

.sr-only {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}