/* ==========================================================================
   _trumps.scss

   Cheats. Hacks.
   ========================================================================== */

.step-8-active #section-7 {
  // because we have no #section-8 in DOM, section 7 still needs to be active
  z-index: 3; 
}

.step-4-active .plant__stem {
  // keep plant stem visible when not used in animations
  transform: scale(1);
}

.step-7-active .section__copy {
  // allows text to be selectable because honeycomb image is above by default
  z-index: 4;
}