/* ==========================================================================
   _trumps.scss

   Cheats. Hacks.
   ========================================================================== */

.step-3-active .plant__stem {
  // keep plant stem visible when not used in animations
  transform: scale(1);
}

.step-6-active #section-6 .section-copy__wrapper {
  // make sure indicator is clickable above honeycomb SVG
  z-index: 3;
}

.step-7-active #section-6 {
  // because we have no #section-7 in DOM, section 6 still needs to be active
  z-index: 3; 
}

.step-2-active,
.step-3-active,
.step-4-active,
.step-5-active {
  .plant {
    transform: scale(1) translateX(-50%);
  }
}

.step-5-active .plant {
  /**
   * Enlarge 
   */
  @include respond-to(small) {
    transform: scale(2) translateX(-50%);
  }
}

// IE/Edge hack for SVG absolute positions
.is-not-a-good-browser {
  .bee {
    visibility: hidden;
  }
}

// IE/Edge hack for SVG widths
.is-not-a-good-browser {
  .svg-flex-inner {
    position: relative;
    padding-top: 100%;
  }

  .svg-flex svg {
    // (100 * height / width) %.
    width: 100%;
    height: 100%;
    margin-top: -100%;
    position: absolute;
    left: 0;
  }
}

// Smaller font-size on final slide (mobile)
#section-8 .like-h3 {
  font-size: 1.25em;
}
#section-8 .like-h1 {
  font-size: 1.5em;
}

/* Animations
   ========================================================================== */
@include keyframes(stepEightIndexHack) {
  0% {
    z-index: 0;
  }

  99% {
    z-index: 0;
  }

  100% {
    z-index: 5;
  }
}

.step-8-active #section-8 {
  @include animation(stepEightIndexHack $gtd * 4 linear forwards);
}