/* ==========================================================================
   _base.scss

   Unclassed HTML selectors
   ========================================================================== */

body,
html,
section {
  height: 100%; height: 100vh;
  width: 100%; width: 100vw;
  overflow: hidden;
  font-family: 'Apex', 'Helvetica', 'Arial', sans-serif;
}

body {
  color: $main-text-color;
  background-color: #51b5e9;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  @include respond-to(small) {
    /** 
     * Set font-size smaller than actually used, 
     * as fonts are in ems so are worked out against
     * this value. We adjust paragraph font-size below
     * so no-one will see a font-size this small
     */
    font-size: 12px;
  }
}

p {
  font-size: 1.4em;
}

p,
ul,
.btn {

  @include respond-to(small) {
    font-size: 16px;
  }
}

ul {
  margin: 0;
  padding: 0;

  li { 
    list-style: none;
  }
}

::selection {
  background-color: #318dda;
  color: white;
}