/* ==========================================================================
   _base.scss

   Unclassed HTML selectors
   ========================================================================== */

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Apex', 'Helvetica', 'Arial', sans-serif;
}

body {
  color: $main-text-color;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

::selection {
  background-color: #318dda;
  color: white;
}